<%- include('../partials/header'); %>
<main class="main-coffee container">
    <h2 class="main-h2"><%= name %></h2>
    <section class="section-coffee">
        <div class="row">
            <% data.forEach(item => { %>
            <div class="col-md-4">
                <figure class="figure figure-coffee">
                    <a href="/coffee/<%= item.id %>">
                    <img src="/media/coffee.jpg" alt="<%= item.title%>" class="img-fluid">
                    <figcaption class="figcap figcap-coffee"><%= item.title %></figcaption>
                    

                    </figcaption>
                    </a>
                </figure>
            </div>
            
            
            
            <% }) %>
        </div>
    </section>

</main>
<%- include('../partials/footer'); %>